@import '../global.scss';

.panel-container {
  background-color: $white;
  width: 300px;
  min-width: 300px;
  height: 800px;
  margin: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2), 0px 0px 14px 0px rgba(0,0,0, 0.1);
}

img.item {
  width: 130px;
  height: auto;
  padding-bottom: 15px;
}

.subtitle-conatiner {
  width: 80%;
  padding: 5px auto;
  font-size: 12px;
  color: $grey;
}

.tags-conatiner {
  margin: 20px 0px;
}

.tab-buttons-conatiner {
  width: 100%;
}
