@import '../../global.scss';

.graph-container {
  background-color: $white;
  width: 100%;
  min-width: 850px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

}

.graph-item {
  height: auto;
  width: 800px;
}

.x-axis {
  display: flex;
  justify-content: space-between;
  color: $dark-grey;
  max-width: 800px;
  width: 100%;
}

.retail-line {
  stroke:$dark-blue;
  stroke-width: 3px;
  fill: none;
}

.wholesale-line {
  stroke: $dark-grey;
  stroke-width: 3px;
  fill: none;
}
